.about-comment {
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e9ecef;

  text-align: start;
}

.about-comment span {
  color: #6928e6;
  font-size: 16px;
  margin-left: 15px;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  margin-top: 20px;
}
