/* Center the loader on the page */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e0a48; /* Deep purple background */
  position: relative;
}

.circle-part {
  width: 200px; /* Size of the circular border */
  height: 200px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #ffffff; /* White color for one segment of the circle */
  border-right-color: #6928e6; /* Purple color for another segment */
  border-bottom-color: #973af1; /* Light purple color for another segment */
  animation: spin 1.5s linear infinite;
  position: absolute;
}

/* Text Styling */
.loader-text {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
}

/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
