.map-container {
  height: 500px; /* Համոզվեք, որ քարտեզի բարձրությունը սահմանված է */
  width: 100%;
  border-radius: 30px; /* Կլոր անկյուններ */
  overflow: hidden; /* Քարտեզի դուրս ցցված հատվածները թաքցնելու համար */
}
