/* OurServices.css */

.our-services {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.our-services h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.our-services h3 {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 2rem;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.service-card {
  width: 200px;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.service-card h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.service-card p {
  font-size: 0.875rem;
  line-height: 1.5;
}
